#navigation {
    display: flex;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#navigation-left-section {
    min-height: 10em;
}

#navigation-right-section {
    min-height: 10em;
}
